body {
	font-family: 'Joystix Monospace';
	color: white;
	background: #242424;
	font-size: 14px;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(32px * 8);
	height: calc(32px * 5);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 10px solid transparent;
	border-image: url(../images/FrameInner.png) 10 round;
	background: rgba(0,0,0,0.6);
}

#container2 {
	position: absolute;
	top: 0px;
	left: calc((32px * 8) + 20px);
	width: calc(32px * 4);
	height: calc(32px * 5);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 10px solid transparent;
	border-image: url(../images/FrameInner.png) 10 round;
	background: rgba(0,0,0,0.6);
}

img {
	width: 32px;
	height: 32px;
}

#items {
	width: calc(32px * 8);
	height: calc(32px * 3);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#tools {
	width: calc(32px * 8);
	height: calc(32px * 2);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#healthnode {
	padding-top: 16px;
	width: 32px;
	height: 32px;
}

#healthnodetext {
	padding-top: 16px;
	width: 32px;
	height: 32px;
	line-height: 32px;
}

#healthfragment {
	padding-top: 16px;
	width: 32px;
	height: 32px;
}

#healthfragmenttext {
	padding-top: 16px;
	width: 32px;
	height: 32px;
	line-height: 32px;
}

#powernode {
	width: 32px;
	height: 32px;
}

#powernodetext {
	width: 32px;
	height: 32px;
	line-height: 32px;
}

#powerfragment {
	width: 32px;
	height: 32px;
}

#powerfragmenttext {
	width: 32px;
	height: 32px;
	line-height: 32px;
}

#sizenode {
	width: 32px;
	height: 32px;
}

#sizenodetext {
	width: 32px;
	height: 32px;
	line-height: 32px;
}

#rangenode {
	width: 32px;
	height: 32px;
}

#rangenodetext {
	width: 32px;
	height: 32px;
	line-height: 32px;
}

